.menu-profile-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    /* background-color: blue; */
}

.menu-profile-container>p {
    margin-top: 1.1rem;
    font-size: 12px;
    color: #fff;
}

.menu-profile-container>h4 {
    margin-top: 0.2rem;
    /* font-size: 12px; */
    font-weight: 400;
    color: #fff;
}

.profile-image-container {
    max-width: 90%;
    max-height: 75%;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image-container>img {
    width: 100%;
    height: 100%;
}