.card-container{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 25%;
    height: 100%;
    color: #fff;
    border-radius: 2rem;
}

.card-container h1{
    font-size: 3.5rem;
}

.card-header{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 20%;
    /* background-color: red; */
}

.card-body{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 70%;
    /* background-color: red; */
}