.screen-loading-container {
    display: flex;
    /* background-color: #444D55; */
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    /* transition: 3s ease 1s; */
}

.component-loading-container {
    display: flex;
    background-color: rgba(189, 195, 199, 0.95);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    /* transition: 3s ease 1s; */
}

.component-loading-container .loading-progress span {
    background-color: black;
    opacity: 1;
}

.loading-progress {
    /* background-color: #B95946; */
    height: 20%;
    width: 7%;
    display: flex;
    justify-content: space-between;
}


.loading-progress span {
    animation: dots 2s infinite ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}

.loading-progress span:nth-child(1) {
    animation-delay: 0.4s;
}

.loading-progress span:nth-child(2) {
    animation-delay: 0.8s;
}

.loading-progress span:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes dots {
    50% {
        transform: scale(1.5);
    }
}

.loading-image-container {
    /* background-color: aqua; */
    width: 100%;
    height: 50%;

}

.loading-image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}