.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(71,71,71,1) 0%, rgba(46,48,49,1) 36%, rgba(36,37,38,1) 66%, rgba(31,33,33,1) 100%);
}

.card-container{
    display: flex;
    width: 80%;
    height: 85%;
    background-color: #fff;
}