
form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* gap: 2% */
    /* background-color: #057AC7; */
}

form h1{
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

form label{
    font-size: 0.9rem;
    font-weight: bold;
}

.form-group:nth-of-type(n + 2){
    margin-top: 0.8rem;
    /* background-color: #057AC7; */
}

.form-group input{
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(94, 91, 91);
    /* margin-top: 0px; */
    cursor: pointer;
    transition: 0.3s;
}

.form-group input:focus{
    transform: scale(1.02);
}

.button-group{
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 1rem;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}

.button-group button{
    padding: 8px;
    font-size: 0.9rem;
    /* background-color: #057AC7; */
    /* background-color: red; */
    color: #fff;
    border: none;
    /* width: 30%; */
    cursor: pointer;
    transition: 0.3s;
}

.button-group button:hover{
    transform: scale(1.1);
}

.button-group button:nth-child(2){
    width: 40%;
    background-color: #27ae60;
}

@media screen and (max-width: 720px){
    form{
        justify-content: start;
        /* gap: 2% */
        /* background-color: #057AC7; */
    }
}