.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.welcome-container{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    flex-direction: column;
    gap: 5%;

}

.welcome-container > *{
    font-family: 'Roboto', sans-serif;
}


